<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="easbase_all.css" />
</head>

<body>
    <div class="container">
        <a id="toolBar_save1" ctrlrole="linkButton" class="ui-linkbutton enter2tab btn" data-domcreated="true" accesskey="" tabindex="0" actionBinding="confirm1">
            <span class="ui-lb-text">保存</span></a>
    </div>
    <script language='javascript' src='require.js'></script>
    <script language='javascript' src='common.js'></script>
    <script language='javascript' src='base.js'></script>
    <script language='javascript' src='wafall.js'></script>
    <script language='javascript' src='snabbdom/h.js'></script>
    <script language='javascript' src='newLinkbutton.js'></script>
    <script language='javascript' src='index.js'></script>
</body>

</html>
