<div class="ui-section" id="section" ctrlrole="section" data-domcreated="true" aria-disabled="false">
    <div class="sheader">
       <span class="arrow ui-section-arrow-open"><i></i></span>
       <span class="title ui-section-minus">基本信息</span>
       <span class="summary ui-section-summary" summary="( 单据编号：{number} | 单据日期：{billDate} | 单据类型：{billType} | 往来户：{asstActName} )">( 单据编号：AP2016000010 | 单据日期：2016-07-14 | 单据类型：采购发票 | 往来户： )</span>
    </div>
    <div class="content" id="section_content">
    </div>
</div>
